*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
   /* background-image: url(imagenes/portada.jpg);
   background-image: url(/imagenes/agenda.jpg);*/
   background-color: rgb(255, 255, 255);
   margin: 0%;
    
}

.cabecera{
    background-color: #4caf50;
    height: 80px;
    display: flex;
    width: 100%;
    
}
.cabecera .facultad{
    margin-left: 50px;
    padding-top: 25px;
    width: 70%;
    height: auto;
    
}
.cabecera .facultad h1 a{
    color: #4caf50;
    font-family: 'Roboto', sans-serif;
}
.cabecera .cerrar_sesion{
    width: 30%;
    margin-right: 50px;
    padding-top: 35px;
    height: auto;
}
.cabecera .cerrar_sesion a{
    float: right;
    text-decoration: none;
    color: white;
}
main{
    width: 100%;
    padding: 50px;
    margin: auto;
    margin-top: 0px;
    display: block;
    
}
main h2{
    padding-block-start: 0%;
    margin-block-start: 0%;
    padding-block-end: 50px;
    font-size: 60px;
}
button{
    float: right;
    margin: 50px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    margin-block-end: 50px;
    background: springgreen;
    border: none;
    font-size: 20px;
}
button:hover{
    background: red;
    color: white;
}
footer{
    margin-block-start: 50px;
    width: 100%;
    background-color: #4caf50;
}
footer p{
    color: white;
}
.contenedor_links{
    width: 100%;
    height: auto;
    display: flex;
    padding: 50px;

}
.imagenes_redes{
    display: flex;
    text-align: center;
    
}
 .redes_sociales img{
    width: 50px;
    height: 50px;
    
}
.interes{
    width: 100%;
}
.links_facci{
    width: 100%;
}
.redes_sociales{
    width: 100%;
    margin-left: 50px;
}