*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
   /* background-image: url(imagenes/portada.jpg);
   background-image: url(/imagenes/agenda.jpg);*/
   background-color: rgb(255, 255, 255);
   margin: 0%;
    
}
.cabecera{
    background-color: #4caf50;
    height: 80px;
    display: flex;
    width: 100%;
    
}
.cabecera .facultad{
    margin-left: 50px;
    padding-top: 25px;
    width: 70%;
    height: auto;
    
}
.cabecera .facultad h1 a{
    color: #4caf50;
    font-family: 'Roboto', sans-serif;
}
.cabecera .cerrar_sesion{
    width: 30%;
    margin-right: 50px;
    padding-top: 35px;
    height: auto;
}
.cabecera .cerrar_sesion a{
    float: right;
    text-decoration: none;
    color: white;
}
main{
    width: 100%;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    display: block;
    
}
.buscar{
    width: 100%;
    height: auto;
    
}
.buscar  button{
    background-color: red;
    border: none;
    width: 100px;
    border-radius: 10px;
    height:50px;
    font-size: 15px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

.btn_buscar{
    width: 400px;
    display: flex;
}
.btn_buscar input{
    width: 400px;
    height:50px ;
    background: rgb(233, 231, 231);
    font-size: 16px;
    outline: none;
    display: block;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
.contenedor_opciones{
    width: 250px;
    height: 300px;
    padding: 50px;
    background-color: #4caf50;
   padding: 0%;
   padding-top: 50px;
   padding-block-end: 50px;
   margin-top: 50px;
}
.opciones li {
    list-style: none;
    margin-left: 20px;
    color: white;
    font-size: 20px;
    padding-top: 20px;

}

footer{
    width: 100%;
    background-color: #4caf50;
}
footer p{
    color: white;
}
.contenedor_links{
    width: 100%;
    height: auto;
    display: flex;
    padding: 50px;

}
.imagenes_redes{
    display: flex;
    text-align: center;
    
}
 .redes_sociales img{
    width: 50px;
    height: 50px;
    
}
.interes{
    width: 100%;
}
.links_facci{
    width: 100%;
}
.redes_sociales{
    width: 100%;
    margin-left: 50px;
}
.container_horario{
    width: 100%;
    display: none;
}
.horarios{
    padding: 20px;
    display: flex;
    width: 100%; 
}
.horarios .colum2{
    margin-left: 30px;
}
.opciones a{
    color: white;
}
.opciones h1{
    font-size: 15px;
    margin-left: 45px;
    cursor: pointer;
    width: 100px;
}
.opciones h1:hover{
    background-color: black;
}
.contenedor{
    width: 100%;
    height: 800px;
    display: flex;
}
.contenedor_horarios{
    width: 100%;
    padding: 50px;
    height: auto;
    display: block;
}
.contenedor_horarios .btns_gestion{
    width: 100%;
    height: 50px;
}
.sistemas{
    width: 100%;
    
}
.sistemas .gestion_horario {
    width: 30%;
    height: auto;
    background: red;
    position: absolute;
    display: flex;
}
.gestion_horario h1{
    padding: 20px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.gestion_horario h1:hover{
    
    color: black;
}
.descripcion{
    float: right;
    font-size: 40px;padding: 100px;
    position: absolute;
    text-align: center;
    color: white;
    display: none;
}
.btns_gestion button {
    height: 50px;
    border: none;
    border-radius: 20px;
    width: 300px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: #4caf50;
}

.boton1 a{
    color: white;
}
.btns_gestion button:hover{
    height: 50px;
    border: none;
    border-radius: 20px;
    width: 300px;
    font-size: 20px;
    color:white;
    background-color: red;
}
.btns_gestion .boton2{
    float: right;
}
.visualizacion{
    width: 100%;
    height: auto;
    background-color: rgba(241, 241, 241, 0.993);
    margin-top: 50px;
    display: flex;
    text-align: center;
}
.visualizacion img{
    width: 450px;
    padding-top: 27px;
    padding-block-end: 10px;
    margin-left: 50px;
}
.visualizacion p{
    font-size: 80px;
    padding-top: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: auto;
    margin: 0%;
}

@media only screen and (max-width: 850px) {
    main{
        margin-top: 50px;
        font-size: 80%;
        padding: 0px;
    }
    .descripcion{
        font-size: 40px;
        padding: 60px;
    }
    .sistemas .gestion_horario{
        width: 100%;
        height: auto;
    }
    
    .contenedor{
        flex-direction: column;
        text-align: center;
    }
    .contenedor_opciones {
        margin: 0%;
        width: 100%;
      margin-top: 10px;
       padding: 0%;
       height:auto;
    }
    .opciones{
        display: flex;
        padding-block-end: 0%;
        margin-top: 0%;
    }
    .opciones li{
        font-size: 15px;
        justify-content: center;
        text-align: center;
        width: 30%;
    }
    .contenedor_horarios{
        margin: 0%;
        width: 100%;
      margin-top: 10px;
       padding: 0%;
       height:auto;
       
    }
    
    .btns_gestion{
        width: auto;
        height: 100%;
        display: flex;
        margin-top: 30px;
        margin-block-end: 10px;
    }
    .btns_gestion button:hover{
        display: block;
        margin-top: 10px;
        width: 50%;
    }
    .btns_gestion button{
       
        margin: 20px;
        margin-top: 10px;
        width: 50%;
        
    }
    .horarios{
        display: block;
        width: 100%;
     }
    

}
@media only screen and (max-width: 800px)  {
    .visualizacion{
        display: block;
        height: auto;
        margin-top: 50px;
    }
    .contenedor_links .redes_sociales img {
        height: 40px;
        width: 40px;
    }
    .visualizacion img{
        margin: 0%;
        width: 100%;
        
    }
    .contenedor_links{
        margin-block-start: 200px;
        
    }
    .contenedor_links div{
        padding-block-end: 40px;
    }
    .red
   
    .visualizacion p{
        font-size: 50px;
        
    }
    .buscar{
        width: 100%;
        margin: 0%;
    }
    .buscar .btn_buscar{
        width: 100%;
        display: flex;
       
    }
    .cabecera{
        padding: 0%;
        margin-left: 0%;
    }
    .facultad img{
        width: 100px;
        height: auto;
        margin: 0%;
        padding: 0%;
    }
    .facultad{
        margin: 0%;
        padding-left: 0%;
        
    }
    .cabecera .cerrar_sesion a{
        font-size: 20px;
    }

 }
 @media  screen and (min-width:275px) and (max-width:800px){

    .cabecera{
        padding: 0%;
        margin-left: 0%;
    }
    .facultad img{
        width: 100px;
        height: auto;
        margin: 0%;
        padding: 0%;
        transition: 0.5s;
    }
    .facultad{
        margin: 0%;
        padding-left: 0%;
        
    }.cabecera .cerrar_sesion{
        width: 100%;
    }
    .cabecera .cerrar_sesion a{
        font-size: 15px;
        
    }
    .titulo_pagina .titulo h2{
        color: black;
    }
    .btns_gestion button{
        font-size: 15px;
    }
    
     
    .container_horario .horarios .colum1 table{
        width: 100%;
        padding: 0px;
    }
    .horarios{
        padding: 0%;
        width: 100%;
    }
.horarios .colum2 table{
    width: 100%;
    padding: 0px;
    margin: 0%;
}
    .horarios .colum2{
        margin: 0%;
    }


 }
@media  screen and (max-width: 500px) {
    .contenedor_links{
        margin-block-start: 200px;
        display: block;
        
    }
    .contenedor_links div{
        text-align: center;
    }
    .redes_sociales{
        margin-left: 0px;
        
    }
     .imagenes_redes{
        text-align: center;
        margin-left: 25%;
    }
}